@tailwind base;
@tailwind components;
@tailwind utilities;


.Canvas {
    z-index: 0;
    cursor: url("public/UI_Icons/Drawing_Cursor_Small.png") 8 9, auto;
}

#QuitButton {
    z-index: 20;
    background-color: red;
    color: white;
    font-weight: bolder;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2vh;
    left: 50vw;
    border-radius: 50%;

}

.Toolbar-Top {
    background-image: url("public/UI_Icons/ToolbarContainer copy.png");
    background-size: cover;
}

.ColorSwatchContainer {
    position: relative;
    bottom: 60px;
}

#ColorSwatch {
    display: none;
    position: absolute;
    background-color: #d6d8d9;
    border-radius: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Toolbar-Bottom {
    background-image: url("/public/UI_Icons/ToolbarContainer2.png");
    background-size: cover;
}

.ToolbarButton {
    border-radius: 100%;
    transition: box-shadow 0.3s ease-in-out;
}

.ToolbarButton:hover {
    box-shadow: 0 0 25px 5px rgb(0, 157, 255);
}

.ToolbarButton:focus {
    box-shadow: 0 0 25px 5px rgb(0, 157, 255);
}

.ToolbarFlatButton {
    width:150px;
    height: 50px;
    border-radius: 25px;
    background-image: url("/public/UI_Icons/testregularbutton2.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

.ToolbarFlatButton:hover {
    box-shadow: 0 0 10px 5px rgb(0, 157, 255);
}
